
.info-table {
    width: 300px;
    border-collapse: collapse;
    font-size: 16px;
    border-top: 2px solid #666; 
    border-bottom: 2px solid #666; 
  }

  .info-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd; 
  }
  
.info-table .label {
    width: "120px";
    color:'red';
    padding: "8px";
    background-color: "#f5f5f5";
    border-bottom: "1px solid #ddd";
  }
  